.home {
  .el-container {
    ::v-deep .el-aside {
      transition: width 0.2s linear;
      min-height: 100vh;
      background-color: rgb(240, 240, 240);
      border-right: 1px solid rgb(226, 226, 226);
      .el-input {
        padding: 6px 0;
        margin-bottom: 10px;
        border-bottom: 1px solid rgb(226, 226, 226);
        .el-input__inner {
          background-color: rgb(240, 240, 240);
          border: 0 none;
          outline: none;
        }
      }
      .el-tree {
        .el-tree-node {
          .el-tree-node__content {
            height: 32px;
            background-color: rgb(240, 240, 240);
            .el-tree-node__expand-icon {
              font-size: 16px;
            }
            .el-tree-node__label {
              color: #333;
              font-size: 16px;
            }
          }
          &.is-current {
            >.el-tree-node__content {
              .el-tree-node__label {
                color: rgb(72, 149, 250);
              }
             
            }
          }
        }
      }
    }
    .el-container {
      position: relative;
      .ctrl-line {
        position: absolute;
        left: 0;
        top: 0;
        width: 5px;
        height: 100vh;
        color: rgb(179, 179, 179);
        cursor: ew-resize;
        &:hover {
          color: rgb(46, 46, 46);
        }
        i {
          position: absolute;
          top: 50%;
          transform: translateY(-50%) translateX(-10px);
        }
      }
      .el-header {
        display: flex;
        align-items: center;
        i {
          font-size: 26px;
          color: rgb(179, 179, 179);
          &:hover {
            color: rgb(46, 46, 46);
          }
        }
      }
      .el-main {
        .el-link {
          margin-right: 20px;
        }
      }
    }
  }
}
